@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');html,body{margin:0;padding:0;box-sizing:border-box;}img{max-width:100%;height:auto;}img[loading="lazy"]{opacity:0;transition:opacity .3s;}img[loading="lazy"].loaded{opacity:1;}
:root {
    --bs-primary: #196BDE;
    --bs-blue: #196BDE;
    --bs-success: #2382F7;
    --bs-cyan: #4B9CF9;
    --bs-secondary: #A4CEFC;
    --bs-light: #E8F3FE;
    --bs-white: #fff;
    --bs-gray-dark: #424242; 
    --font-display: 'Funnel Display', sans-serif;
    --font-body: 'Work Sans', sans-serif;
}


body{
    grid-column-gap: 32px;
    font-family: var(--font-body);
}

.mx-6{
    margin-left: 5%;
    margin-right: 5%;
}
.navbar{
    font-family: var(--font-display);
    position: absolute;   
    margin-top: 1.25%;
    width: 90%;
    display: flex;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 3.125rem;
    border: 0.5px solid rgba(255, 255, 255, 0.10);
    background: linear-gradient(270deg, rgba(25, 107, 222, 0.42) 2.53%, rgba(15, 51, 117, 0.21) 99.13%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px); 
    z-index: 10; 
    
   
}


#navbarNavDropdown{
    justify-content: right;
    
}

#navbarNavDropdown ul{
    width: 30%;
    justify-content: space-between;
}

.navbar .nav-link {
    color: white; 
    transition: color 0.3s ease; 

    
}

.navbar .nav-link:hover {
    color: var(--bs-blue); 
}

.navbar .nav-link.active {
    color: var(--bs-blue);
    font-family: var(--font-display);
 
}

/*IMAGEN PRINCIPAL*/

#banner{
    border-radius: 0rem 0rem 3rem 3rem;
    filter: brightness(80%); 
}

.title{
    position:absolute;
    z-index: 4;
    transform: translateY(-50%); 
    text-align: left; 
    max-width: 476px; 
    color: var(--bs-cyan);

}


.principal{
    position: relative;
    font-family: var(--font-display);
    font-size:6.5rem;
    width: 29.75rem;
    height: 15.375rem;
    line-height: 5rem;
    
}

.parrafo{
    font-family: var(--font-body);
    color: var(--bs-white);
    width: 23.6875rem;
    height: 5.1875rem;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: normal;
    margin-top: 8%;
    margin-bottom: 8%;
}

.btn {
    font-family: var(--font-body);
    font-size: 19px;
    border-radius: 100px;
    background: var(--bs-light);
    color: var(--bs-blue);
    padding: 3% 10%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: var(--bs-blue);
    color: var(--bs-white); 
    scale: 1.15;
}

.btn a {
    font-weight: 500;
    text-decoration: none;
    color: inherit; 
}

.btn:hover a {
    color: inherit; 
}


.confianza{
    color: var(--bs-gray-dark) ;
}

.en{
    color: var(--bs-gray-dark);
    font-weight: 400;

}

.sonrisa{
    color: var(--bs-blue);
}
.star1 {
    position: absolute !important;
    transform: translate(19rem, -7em);
    z-index: -3;
}

/*SERV. DEST*/

h2{
    color: var(--bs-success);
    font-family: var(--font-body);
    margin-top: 2.92%;
    margin-bottom: 2.92%;

}
.sd-cards{

    justify-content: space-between;
}

.card{
    font-family: var(--font-body);
    width: 30%;
    height: auto;
    border-radius: 1.5625rem;
    background: var(--Linear, linear-gradient(138deg, rgba(255, 255, 255, 0.70) -28.57%, rgba(255, 255, 255, 0.10) 98.44%));
    box-shadow: 3px 3px 9px 1px rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(5.5px);
    align-items: center;

}

.card img{
    border-radius: 1.5625rem;
}


.card-body{
    display: flex;
    align-items: center;
}

.card-body h5{
    color: var(--bs-cyan);
    margin-right: 6%;
    margin-bottom:0;
    
}

.card-body p{
    color: var(--bs-gray-dark);
}


/*parte 3*/

.part_3{
    margin-bottom: 4rem;
}
.testimonial-cards{
    justify-content: space-between;
}

.testimonial-card {
    position: relative;
    width: 20.5%;
    height: auto;
    border-radius: 1.25rem;
    background-color: var(--bs-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: visible;
    font-family: var(--font-body);
    color: var(--bs-gray-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2.5rem 1rem 1rem;
    margin-top: 3rem;
}

.testimonial-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    transform: translateX(0);
    transform: translateY(-100px);
    z-index: 2;
}

.testimonial-card .stars {
    width: 296px;
    height: 57px;
    margin: 0.5rem 0;
    color: var(--bs-cyan);
    font-size: 1rem;
}

.testimonial-card .comment {
    font-size: 0.875rem;
    color: var(--bs-gray-dark);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s, transform 0.3s;
}

.testimonial-card:hover .comment {
    opacity: 1;
    transform: translateY(0);
}

.testimonial-card .name {
    margin-top: 50px;
    font-size: 20px;
    font-weight:400;
    color: var(--bs-gray-dark);
}

.stars svg{
    width: 90%;
    height: 50%;
}


/*FOOTER*/

.custom-footer {
    font-family: var(--font-body);
    background-color: var(--bs-blue); 
    color: var(--bs-white);
    padding: 2%; 
    border-radius: 46px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.footer-section {
    flex: 1; 
    max-width: 20%; 
    align-items: center;
}

.footer-logo {
    max-width: 40%; 
    margin-bottom: 1rem;
}

.footer-description {
    font-size: 0.875rem;
    line-height: 1.5;
    font-weight: 300;
    width: 248px;
    height: 41px;
}


.footer-section h5 {
    font-size: 1rem;
    font-weight:600;
    margin-bottom: 1rem;
}

.footer-section ul {

    padding: 0;
    margin: 0;
}

.footer-section ul li a {
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}


.footer-section a {
    color:var(--bs-white);
    text-decoration: none;
}

.footer-section a:hover {
    color: #E8F3FE; 
    text-decoration: underline;
}

/* HTML NOSOTROS*/

.nosotros{
    padding-top: 9%;
    justify-content: space-between; 
    align-items: center;
}

.text-nosotros{
    width: 50%;
}

.text-nosotros h1{
    font-family: var(--font-display);
    font-size: 100px;
    color: var(--bs-blue);
}

.text-nosotros p{
    font-family: var(--font-body);
    width: 80%;
    margin-top: 10%;
}

.foto-nosotros{
    display: flex;
    justify-content: right;
}

.foto-nosotros img{
    border-radius: 5%;
    width: 60%;
}

.nosotros svg{
    transform: translate(270%,-100%);
}

/*MEDIICOOOOSS*/

.medicos {
    justify-content: space-between;
    text-align: center;
}
.medicos h4{
    color: var(--bs-cyan);
    margin-top: 9%;
}

.medicos h6{
    background-color: var(--bs-blue);
    color: var(--bs-white);
    border-radius: 13px;
    padding: 2%;
}

.medicos .medico {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.medicos .medico img {
    width: 100%;
    height: auto;
    transition: filter 0.3s ease, transform 0.6s ease;
    backface-visibility: hidden;
}


.medicos .medico:hover {
    transform: scale(1.1);
}


.medicos .medico:not(:hover) {
    filter: grayscale(100%);
}


.medicos .medico .description {
    position: absolute;
    font-family: var(--font-body);
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 67%;
    padding: 6%;
    text-align: center;
    background-color:#a4cffc86 ; 
    color: #000;
    clip-path: inset(10% 0 10% 0 round 15px);;
    transition: transform 0.5s ease-in-out,opacity 0.3s ease-in-out;;
    opacity: 0; 
}

.medicos .medico.flipped img {
    transform: rotateY(180deg);
}

.medicos .medico.flipped .description {
    opacity: 1 ;
}

/*VALOORESSS*/

.valores h5{
    font-family: var(--font-body);
    color: var(--bs-blue);
}

.valores p{
    font-family: var(--font-body);
    color: var(--bs-gray-dark);
}

.valores{
    justify-content: space-between;
}
.valor{
    position: relative;
    width: 21%;
    justify-content: center;
}

.text-valores{
    margin-top: 7%;
    text-align: center;
}

.carrusel-cont{
    font-family: var(--font-body);
    justify-content: space-between;
    color: var(--bs-gray-dark);
}

.text-tecno{
    width: 20%;
    align-content: center;
}

.text-tecno span{
    color: var(--bs-cyan);

}
#myCarousel{
    width:60%;
    
}
.carousel-indicators button{
    width: 0.5vw!important;
    height: 0.5vw !important ;
    border-radius: 50%; 
}

.carousel-inner{
    border-radius: 20px;
}

/*HTLM SERVICIOS*/

.servicios{
    padding-top: 9%;
    font-family: var(--font-body);
}

.titulo-servicios h1{
    font-family: var(--font-display);
    font-size: 100px;
    color: var(--bs-blue);
    position: absolute;
    z-index: 2;
}

.titulo-servicios svg{
    transform: translate(220%,-10%);

}

.text-servicios{
    justify-content: space-between;
}

.text-servicios p{
    width: 70%;
}

.services-section{
    font-family: var(--font-body);
}

.image-container {
  position: relative;
  
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0e377196 ; 
  color: var(--bs-light);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 25px;
}

.image-container:hover .overlay {
  opacity: 1;
}


.overlay p {
  margin-top: 10px;
}

/*HTLM CONTACTO*/

.contactanos{
    padding-top: 9%;
    font-family: var(--font-body);
}

.info-contac{
    width: 29%;
}


.contactanos h5{
    font-weight: 300;
}

.img img{
    border-radius: 50%;
}

.contact-form{
    
    width: 40%;
    border-radius: 20px;
}
.bg-azul{
    background-color: var(--bs-blue);
}

.text-img-contac{
    justify-content: space-between;
    font-family: var(--font-body);
    margin-top: 4%;
}

.info-contac h3{
    color: var(--bs-cyan);
    margin-bottom: 9%;
    
}

.info-contac h6{
    font-weight: 400;
    margin-top: 10% ;
}

.incio-contac {
    position: relative;
}

.incio-contac h1 {
    font-family: var(--font-display);
    color: var(--bs-blue);
    font-size: 90px;
    z-index: 2; 
    position: relative; 
}

.incio-contac svg {
    position: absolute;
    top: 0; 
    left: 50%; 
    transform: translate(-110%, -20%);
    z-index: 1; 
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.info-item {
    display: flex;
    color: var(--bs-gray-dark); 
    margin-bottom: 5%;
    align-items: center;
}


.info-item span{
    margin-left: 5%;
}

.info-item span {
    line-height: 1.5;
}

img[loading="lazy"] {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
img[loading="lazy"].loaded {
    opacity: 1;
}
